.contact{
 text-align: center;
 margin-left: 5em;
 margin-right: 5em;
 float: left;
}
.privacy{
    text-align: center;
   margin-left: 5em;
   margin-right: 5em;
}
.donation{
    text-align: center;
    margin-left: 5em;
    margin-right: 5em;
}