<div class="contact">
<h2>Contact Us</h2>
<p>Fei YUN</p>
<p>xxx-xxx-xxxx</p>
<p>address:xxxxx</p>
<p>Yuhe YUAN</p>
<p>xxx-xxx-xxxx</p>
<p>address:xxxxx</p>
</div>
<div class="privacy">
    <h2>Privacy</h2>
    <p>
        
        The above copyright notice and this permission notice shall be included in all
        copies or substantial portions of the Software.</p>
    </div>
    <div class="donation">
        <h2>Donation</h2>
        <p>the charitable organization (often called the receiver) and the person or entity donating (often call the donor). The charitable organization must keep accurate records of donations received, but so must the donor keep records of the donations they have given. </p>
        </div>