<mat-toolbar color="primary" class="menubar">
  <mat-toolbar-row>

    <div class="title">
  <h1>My Baker</h1>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
  </div>

  <div class="bar">
    <div class="menu">
      <a mat-button [routerLink]="'/index'">Store</a>
      <a mat-button [routerLink]="'/sales'"> Sales </a>
      <a mat-button [routerLink]="'/contactus'"> Contacts </a>
      <a mat-button [routerLink]="'/ourstory'"> Our Story </a> 
    </div>

    <div class="cart">
    <button mat-icon-button [routerLink]="'/cart'">
        <mat-icon>shopping_cart</mat-icon>
  </button>
  </div> 
  
</div> 
  </mat-toolbar-row>
</mat-toolbar>

<!-- Footer -->

<mat-toolbar class="footer">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://google.com/"> Google.com</a>
    </div>
    <!-- Copyright -->
  
  </mat-toolbar>
  <!-- Footer -->

