<div class="ourstory">
<h2>Our story</h2>
<p>
    We opened our first shop in Toronto's Corktown neighbourhood during the record-breaking cold weather of February 2015. We have been warming hearts ever since.

Today, we stay true to our humble beginnings. We are a team of passionate bakers and food lovers who work hard every day to serve quality pastries. What sets us apart is our love for our craft and our obsessive pursuit of excellence. We work with ingredients that spark joy and we bake fresh every day. We hope you can taste it in every bite of our pastries and feel it immediately when you walk through our doors. The undeniable smell of butter in the air. Our smiling staff. The professional and comfortable, maybe even familiar atmosphere we've cultivated. The details in all of our products: from the bite-sized caramels that we wrap individually by hand, to the flourish of chocolate garnish we make to finish our individual cakes. The proof is in the pudding!

Our menu is composed of modern French-inspired pastries adapted with playful local influences.  We are inspired by what we love to eat: happy memories from our childhood, our travels, and our shared meals with family and friends.
</p>
<h2>Our baker</h2>
<div class="baker1">
<img src="../../assets/image/bk1_gaitubao_341x220.jpg">
<p>Lionel is a French baker and entrepreneur whose commitment to crafting quality bread earned him worldwide renown. He offers offers rye bread, raisin bread, nut bread, Punitions (shortbread cookies), and an assortment of pastries to clients.</p>
</div>
<div class="baker2">
<img src="../../assets/image/bk2_gaitubao_345x235.jpg">
<p>Asami is a Japanese baker and owner of Sukiyabashi Asami. It was the first cake restaurant in the world to receive three stars from the Michelin Guide</p>
</div>
</div>
