<div class="card">
    <div class="card-body">
      <form [formGroup]="angForm" novalidate>
        <div class="form-group">
            <input type="text" class="form-control" formControlName="order_id" #order_id /></div>
            <div class="form-group">
            <input type="text" class="form-control" formControlName="customer_id" #customer_id/></div>
            <div class="form-group">
            <input type="text" class="form-control" formControlName="payment" #payment ></div>
            
        <div class="form-group">
          <label class="col-md-4">Name</label>
          <input type="text" class="form-control" 
          formControlName="name" #name/></div>
        <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['name'].errors.required">Name is required.</div></div>
          <div class="form-group">
            <label class="col-md-4">Email </label>
            <textarea class="form-control" rows = 1 cols = "5"
            formControlName="email" 
            #email></textarea>
          </div>
          <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['email'].errors.required">
              Email is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Phone </label>
            <textarea class="form-control" rows = 1 cols = "5"
            formControlName="phone" 
            #phone></textarea>
          </div>
          <div *ngIf="angForm.controls['phone'].invalid && (angForm.controls['phone'].dirty || angForm.controls['phone'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['phone'].errors.required">
              Phone is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Street </label>
            <textarea class="form-control" rows = 1 cols = "5"
            formControlName="street" 
            #street></textarea>
          </div>
          <div *ngIf="angForm.controls['street'].invalid && (angForm.controls['street'].dirty || angForm.controls['street'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['street'].errors.required">
               Street is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">City</label>
            <textarea class="form-control" rows = 1 cols = "5"
            formControlName="city" 
            #city></textarea>
          </div>
          <div *ngIf="angForm.controls['city'].invalid && (angForm.controls['city'].dirty || angForm.controls['city'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['city'].errors.required">
              City is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Province </label>
            <textarea class="form-control" rows = 1 cols = "5"
            formControlName="province" 
            #province></textarea>
          </div>
          <div *ngIf="angForm.controls['province'].invalid && (angForm.controls['province'].dirty || angForm.controls['province'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['province'].errors.required">
              Province is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Postcode </label>
            <textarea class="form-control" rows = 1 cols = "5"
            formControlName="postcode" 
            #postcode></textarea>
          </div>
          <div *ngIf="angForm.controls['postcode'].invalid && (angForm.controls['postcode'].dirty || angForm.controls['postcode'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['postcode'].errors.required">
              PostCode is required.
            </div>
          </div>
          
          <div class="form-group">
            <button type="submit" class="btn btn-primary"
            [disabled]="angForm.pristine || angForm.invalid" (click)="addShipping(order_id.value,customer_id.value,name.value,email.value,street.value,city.value,province.value,postcode.value,phone.value,payment.value)">Checkout</button>
          </div>
        </form>
      </div>
    </div>