<div *ngIf="product">

  <h1>{{ product.name }}</h1>

<div class="price">
  Price: $  {{ product.price }}
</div>

<div class="description">
<h4>Description</h4>
  <p>{{ product.description }}</p>
</div>

<div class="imgs">
    <img src={{product.img}}>
</div>
<mat-card class="info">
<div class="allergy">
    <label>Allergy:</label>
    {{product.allergy}}
</div>

<div class="alc">
<label>Alcohol:</label>
    {{product.alcohol}}
</div>

<div class="comment">
    <label>Comment:</label><br>
    {{product.comment}}
</div>
</mat-card>

<mat-card class="healthy">
<div class="fat">
    {{product.fat}}
</div>

<div class="sugar">
    {{product.sugar}}
</div>

<div class="calo">
    {{product.calorie}}
</div>
</mat-card>

<button mat-raised-button color="primary" (click)="addToCart(product)">Cart</button>
<button mat-raised-button color="accent">Share</button>
</div>
