.card{
margin-left: 150px;
margin-right: 150px;

}

.comment{
    margin-top: 5px;
    width: 90%;
}

.button{
    width: 95px;
    display: block;
    margin:0 auto;
}

.information {
    margin-left: 150px;
    margin-right: 150px;
     
  }
.matform{
    width: 95%;
}